doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #main-content.position-relative
      block content
    script(typpe='text/javascripts',src='/javascripts/scripts.js')
